h1{
    text-align: center;
  }

img{
    width: 400px;
    height: 380px;
    border:solid 5px darkred;
    display: block;
    margin:auto;
    margin-top:20px;
    margin-bottom: 20px;
}
  
#buza{
    padding: 5px;
    border: thin solid grey;
  }

figure{
    text-align: center;
}
  